<!-- <div>
  <p><%= @shows.first_name+ " "+@shows.last_name%></p>
  <h1><%= @shows.first_name %></h1>
  <h1><%= @shows.last_name %></h1>
</div> -->
<div>
  <!-- <% @shows.each do |show| %> -->
    <div><%= shows.first_name + " " + shows.last_name %></div>
    <div><%= shows.first_name %></div>
    <div><%= shows.last_name %></div>
</div>
